<%= form_for @amenities do |f| %>
  <%= f.hidden_field :property_id %>
  <%= f.error_messages %>   


<table>
  <tr>
   <td> <%= f.label :tar_roads %>   </td>
     	<td><b>Yes</b> <%= radio_button("amenities","tar_roads","Yes") %> <b>NO</b>        
		      <%= radio_button("amenities","tar_roads","No") %> </td>  </tr> 
           
<tr>
<td> <%= f.label :club_house %>    </td>  
<td>  <b>Yes</b> <%= radio_button("amenities","club_house","Yes") %> <b>NO</b>        
	      <%= radio_button("amenities","club_house","No") %>   </td>  </tr>  

<tr>
<td> <%= f.label :swimming_pool %>   </td>  
<td>  <b>Yes</b> <%= radio_button("amenities","swimming_pool","Yes") %> <b>NO</b>        
      <%= radio_button("amenities","swimming_pool","No") %>  </td>  </tr>

<tr>
<td>  <%= f.label :party_hall %>  </td>  
<td>  <b>Yes</b> <%= radio_button("amenities","party_hall","Yes") %> <b>NO</b>        
				      <%= radio_button("amenities","party_hall","No") %>   </td>  </tr>

<tr>
<td>  <%= f.label :health_club %>  </td>  
<td> <b>Yes</b> <%= radio_button("amenities","health_club","Yes") %> <b>NO</b>        
	      <%= radio_button("amenities","health_club","No") %>   </td>  </tr>

<tr>
<td>  <%= f.label :garden %>    </td>  
<td>    <b>Yes</b> <%= radio_button("amenities","garden","Yes") %> <b>NO</b>        
	      <%= radio_button("amenities","garden","No") %>   </td>  </tr>

<tr>
<td>  <%= f.label :security %>    </td>  
<td>     <b>Yes</b> <%= radio_button("amenities","security","Yes") %> <b>NO</b>        
	      <%= radio_button("amenities","security","No") %> </td>  </tr>

<tr>
<td>  <%= f.label :intercom %>    </td>  
<td>   <b>Yes</b> <%= radio_button("amenities","intercom","Yes") %> <b>NO</b>        
	      <%= radio_button("amenities","intercom","No") %>   </td>  </tr>


        <tr><td>
		  <p><%= f.submit %></p>
		<% end %>       </td></tr>

 <table>



           

