<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     
	
  <%=  f.hidden_field :author_id, :value => @user.id %>   
 <%=  f.hidden_field :author, :value => @user.name %>   

  

<p><label>    <%= f.label :title %> </label>
<div class="input large"> <%= f.text_field :title %> </div>

<p><label>    <%= f.label :description %></label>   
<div class="input large">      <%= f.text_area :description %></div>
  
<div class="button">  <div id="button"> 
    <%= f.submit %>
  </div>      </div>
<% end %>
                                 

