

<!--  START CONTENT -->
<div id="content_wrapper">

<!--  START PRIMARY CONTENT -->
<div id="primary_content">
<h5>List of Documents</h5>
<%= form_tag books_path, :method => 'get', :id => "books_search" do %>
	  <p>
	    <%= text_field_tag :search, params[:search] %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>                                               
	
	 <div id="books"> <%= render 'books' %></div>
      <% end %> 

 

   
	
   
<br />

<%= link_to 'Create New Document', new_book_path %>  



