

<!--  START CONTENT -->
<div id="content_wrapper">

<!--  START PRIMARY CONTENT -->
<div id="primary_content">
<h5>List of books</h5>


<table class="tablesorter" id="myTable"> 
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th>Action</th>
   
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td> <%= truncate(book.description, 20) %>

</td>
    
    <td> <div class="button">  <div id="button"><%= link_to 'View', book %> </div> </div>  </td>   

                    

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>  


