
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>
 
<%  if current_user %>
<% if @user.id == @book.author_id %>

<%= link_to 'Edit', edit_book_path(@book) %> |  <%= link_to "Destroy",@book, :confirm => "Are you sure?", :method => :delete %>       
 <% else %>                                   
 <% end %>

 
 <% end %>                    
<p><%= link_to "Printable Case (PDF)", book_path(@book, :format => 'pdf') %></p>
<%= link_to 'Back', books_path %>  