

<!--  START CONTENT -->
<div id="content_wrapper">

<!--  START PRIMARY CONTENT -->
<div id="primary_content">

<div class="success canhide">  <p align ="left">
  <b>Title:</b>
  <%= @book.title %>
</p>
<p id="notice"> <%= notice %></p></div>



<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>
 
<%  if current_user %>
<% if @user.id == @book.author_id %>

<%= link_to 'Edit', edit_book_path(@book) %> |  <%= link_to "Destroy",@book, :confirm => "Are you sure?", :method => :delete %>       
 <% else %>                                   
 <% end %>

 
 <% end %>                    
<p align ="right"><%= link_to "Printable Case (PDF)", book_path(@book, :format => 'pdf') %></p>
<%= link_to 'Back', books_path %>  