<div id="loginform">    
<div id="admin_wrapper"> 
<h1>Login<span></span></h1>  
    
    <!-- END LOGO -->
    <p><%= link_to "Sign in through Social N/W sites ", authentications_path %></p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>   
      <!-- TEXTBOXES -->
       <label><%= f.label :email %></label> 
	<div class="text large required" id="username">   <%= f.text_field :email %>   </div>
	<br />
		
       
        
       	<label><%= f.label :password %></label> 
		<div class="text large required" id="password">  <%= f.password_field :password %> </div>
  

        <div name="btnLogin" type="submit" class="submit" id="btnLogin"><%= f.submit "Sign in" %> </div>  
     
	  <% if devise_mapping.rememberable? -%>   
     <div class="checkbox" id="cbdemo2"> <%= f.check_box :remember_me %> </div>
      <label for="cbdemo2"><%= f.label :remember_me %> </label> 
        
 

  <% end -%>


<% end %>

<%= render :partial => "devise/shared/links" %>       
</div>
</div>