<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title><%= content_for?(:title) ? yield(:title) : "Kunaal's Housing - Property Manager" %></title>

 <%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "facebox" %>
<%= stylesheet_link_tag "navigation" %>
<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "scaffold" %>
<%= stylesheet_link_tag "styles" %>   

  <%= ajaxful_rating_style %>

<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
<%= csrf_meta_tag %>



    <%= javascript_include_tag :defaults %>  
	<script type="text/javascript" src="/javascripts/application.js"></script> 
	<script type="text/javascript" src="/javascripts/rails.js"></script>
	<script type="text/javascript" src="/javascripts/effects.js"></script> 
	<script type="text/javascript" src="/javascripts/controls.js"></script>
	<script type="text/javascript" src="/javascripts/prototype.js"></script>
	<script type="text/javascript" src="/javascripts/dragdrop.js"></script> 
	<script type="text/javascript" src="/javascripts/facebox.js"></script> 
	<script type="text/javascript" src="/javascripts/graphs.js" ></script>
	<script type="text/javascript" src="/javascripts/multifile.js" ></script>       
	<script type="text/javascript" src="/javascripts/jquery.tipsy.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.flot.pack.js"></script>
	
	<script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/javascripts/scripts.js"></script>
	
    <%= csrf_meta_tag %>

<script type="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

   
    <!--[if IE]>
     <script language="javascript" type="text/javascript" src="js/excanvas.pack.js"></script>
    <![endif]-->
    
    
    <!--[if IE 6]>
    <script src="js/pngfix.js"></script>
    <script>
        DD_belatedPNG.fix('.png_bg');
    </script>        
    <![endif]-->

 
    <%= yield(:head) %>

</head>

<body>

<div id="header" class="png_bg">

    <div id="head_wrap" class="container_12">
    
        <!-- start of logo - you could replace this with an image of your logo -->
        <div id="logo" class="grid_4">
          <h1>Kunaals' <span>Housing</span></h1> <br />
            <h3>Property Manager</h3>
        </div>
        <!-- end logo -->
		 <!-- start control panel -->
	    	<div id="controlpanel" class="grid_8">

	            <ul>
                     
	    			<li><p><% if user_signed_in? %> Signed in as <%= current_user.email %></p></li>
	                <li><%= link_to "Sign out", destroy_user_session_path %></li>    
	                 <% else %>
	                 <li><%= link_to "Sign In", authentications_path %></li>
	<% end %>

	            </ul>

	        </div>
	        <!-- end control panel -->
          
			  <!-- start navigation -->
		      	<div id="navigation" class=" grid_12">

		            <ul>

		                <li><%= link_to "Home",  root_path %></li> 
		<% if user_signed_in? %>
		                  <li><%= link_to "Dashboard",  properties_path %></li>  
						 <% if current_user.admin %>    
							              <li><%= link_to "Users", users_path %></li>
							<% end %>
		<% else %>
		                <li><%= link_to "All Properties", properties_path %></li>  <% end %> 
		               
		                <li><a href="#">About</a></li>
		                <li><a href="#">Help</a></li>
		                <li><a href="#">Faq</a></li>
		                <li><%= link_to "Sale",  sale_path %></li>
		                <li><%= link_to "Rent", rent_path %></li>
			             <li><%= link_to "Featured Properties", featured_path %></li>
			            <li><%= link_to "Sold Properties", sold_path %></li>
	   
		               
                
		            </ul>

		        </div>
		        <!-- end navigation -->
      			  </div><!-- end headwarp  -->
			</div><!-- end header -->
                            
	
     <div id="noticeup">    
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
       
      
    </div>  

	<!-- EVERYTING BELOW IS THE MAIN CONTENT -->

	<div id="main_content_wrap" class="container_12">

 

	    <div class="clearfix">&nbsp;</div>


 <%= yield %>  
            


                
   <!-- START FOOTER -->

    <div id="footer" class="grid_12">
	
<p>&copy; Copyright 2011 KIPL | Powered by <a href="http://www.kunalinfotech.net" target= "_blank" >Kunal Infotech Pvt Ltd</a> | <a href="#">Top</a></div>
	<!--  END FOOTER -->       
     
</div><!-- end content wrap --> 
   
  </body>
</html>
